__pycache__/controller.cpython-39.pyc
__pycache__/dataCollectionStorage.cpython-39.pyc
__pycache__/controller.cpython-38.pyc
.gitignore
__pycache__/dataCollectionStorage.cpython-38.pyc
__pycache__/controller.cpython-310.pyc
__pycache__/dataCollectionStorage.cpython-310.pyc
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ArduinoGUIController/v16/.suo
.vs/VSWorkspaceState.json
